[submodule "vim/pack/editorconfig/start/editorconfig-vim"]
	path = vim/pack/editorconfig/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/w0rp/start/ale"]
	path = vim/pack/w0rp/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/airblade/start/vim-gitgutter"]
	path = vim/pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/sheerun/start/vim-polyglot"]
	path = vim/pack/sheerun/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/trevordmiller/opt/nova-vim"]
	path = vim/pack/trevordmiller/opt/nova-vim
	url = https://github.com/trevordmiller/nova-vim.git
[submodule "vim/pack/matthn/start/emmet-vim"]
	path = vim/pack/matthn/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/pack/itchyny/start/lightline"]
	path = vim/pack/itchyny/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/junegunn/start/fzf"]
	path = vim/pack/junegunn/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/junegunn/start/fzf.vim"]
	path = vim/pack/junegunn/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/morhetz/opt/gruvbox"]
	path = vim/pack/morhetz/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/joshdick/opt/onedark.vim"]
	path = vim/pack/joshdick/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "vim/pack/chriskempson/opt/base16-vim"]
	path = vim/pack/chriskempson/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/pack/itchyny/start/vim-gitbranch"]
	path = vim/pack/itchyny/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
[submodule "vim/pack/ternjs/opt/tern_for_vim"]
	path = vim/pack/ternjs/opt/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "vim/pack/ternjs/start/tern_for_vim"]
	path = vim/pack/ternjs/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "zsh/modules/zsh-users/zsh-completions"]
	path = zsh/modules/zsh-users/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/modules/zsh-users/zsh-syntax-highlighting"]
	path = zsh/modules/zsh-users/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/modules/zsh-users/zsh-history-substring-search"]
	path = zsh/modules/zsh-users/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/modules/zsh-users/zsh-autosuggestions"]
	path = zsh/modules/zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/pack/Shougo/opt/defx.nvim"]
	path = vim/pack/Shougo/opt/defx.nvim
	url = https://github.com/Shougo/defx.nvim.git
[submodule "vim/pack/roxma/start/nvim-yarp"]
	path = vim/pack/roxma/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "vim/pack/roxma/start/vim-hug-neovim-rpc"]
	path = vim/pack/roxma/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "vim/pack/neovim/opt/nvim-lspconfig"]
	path = vim/pack/neovim/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "vim/pack/elixir-lsp/opt/elixir-ls"]
	path = vim/pack/elixir-lsp/opt/elixir-ls
	url = https://github.com/elixir-lsp/elixir-ls.git
[submodule "vim/pack/mfussenegger/opt/nvim-dap"]
	path = vim/pack/mfussenegger/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "javascript/modules/microsoft/vscode-node-debug2"]
	path = javascript/modules/microsoft/vscode-node-debug2
	url = https://github.com/microsoft/vscode-node-debug2
[submodule "vim/pack/Shougo/opt/ddc.vim"]
	path = vim/pack/Shougo/opt/ddc.vim
	url = https://github.com/Shougo/ddc.vim.git
[submodule "vim/pack/vim-denops/opt/denops.vim"]
	path = vim/pack/vim-denops/opt/denops.vim
	url = https://github.com/vim-denops/denops.vim.git
[submodule "vim/pack/Shougo/opt/ddc-source-nvim-lsp"]
	path = vim/pack/Shougo/opt/ddc-source-nvim-lsp
	url = https://github.com/Shougo/ddc-source-nvim-lsp.git
[submodule "vim/pack/Shougo/opt/ddc-source-around"]
	path = vim/pack/Shougo/opt/ddc-source-around
	url = https://github.com/Shougo/ddc-source-around.git
[submodule "vim/pack/Shougo/opt/ddc-matcher_head"]
	path = vim/pack/Shougo/opt/ddc-matcher_head
	url = https://github.com/Shougo/ddc-matcher_head.git
[submodule "vim/pack/Shougo/opt/ddc-sorter_rank"]
	path = vim/pack/Shougo/opt/ddc-sorter_rank
	url = https://github.com/Shougo/ddc-sorter_rank.git
[submodule "vim/pack/arcticicestudio/opt/nord-vim"]
	path = vim/pack/arcticicestudio/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "terminal/dircolors/arcticicestudio/nord-dircolors"]
	path = terminal/dircolors/arcticicestudio/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
[submodule "vim/pack/Shougo/opt/ddc-ui-native"]
	path = vim/pack/Shougo/opt/ddc-ui-native
	url = https://github.com/Shougo/ddc-ui-native.git
[submodule "vim/pack/Shougo/opt/ddu.vim"]
	path = vim/pack/Shougo/opt/ddu.vim
	url = https://github.com/Shougo/ddu.vim.git
[submodule "vim/pack/Shougo/opt/ddu-ui-filer"]
	path = vim/pack/Shougo/opt/ddu-ui-filer
	url = https://github.com/Shougo/ddu-ui-filer.git
[submodule "vim/pack/Shougo/opt/ddu-ui-ff"]
	path = vim/pack/Shougo/opt/ddu-ui-ff
	url = https://github.com/Shougo/ddu-ui-ff.git
[submodule "vim/pack/Shougo/opt/ddu-kind-file"]
	path = vim/pack/Shougo/opt/ddu-kind-file
	url = https://github.com/Shougo/ddu-kind-file.git
[submodule "vim/pack/Shougo/opt/ddu-filter-matcher_substring"]
	path = vim/pack/Shougo/opt/ddu-filter-matcher_substring
	url = https://github.com/Shougo/ddu-filter-matcher_substring.git
[submodule "vim/pack/Shougo/opt/ddu-source-file"]
	path = vim/pack/Shougo/opt/ddu-source-file
	url = https://github.com/Shougo/ddu-source-file.git
[submodule "vim/pack/Shougo/opt/ddu-source-file_rec"]
	path = vim/pack/Shougo/opt/ddu-source-file_rec
	url = https://github.com/Shougo/ddu-source-file_rec.git
[submodule "vim/pack/nvim-treesitter/opt/nvim-treesitter"]
	path = vim/pack/nvim-treesitter/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "vim/pack/shun/opt/ddu-source-buffer"]
	path = vim/pack/shun/opt/ddu-source-buffer
	url = https://github.com/shun/ddu-source-buffer.git
[submodule "vim/pack/Shougo/opt/ddu-column-filename"]
	path = vim/pack/Shougo/opt/ddu-column-filename
	url = https://github.com/Shougo/ddu-column-filename.git
[submodule "vim/pack/Shougo/opt/ddu-commands.vim"]
	path = vim/pack/Shougo/opt/ddu-commands.vim
	url = https://github.com/Shougo/ddu-commands.vim.git
[submodule "vim/pack/Shougo/opt/ddu-source-file_point"]
	path = vim/pack/Shougo/opt/ddu-source-file_point
	url = https://github.com/Shougo/ddu-source-file_point.git
[submodule "vim/pack/Shougo/opt/ddu-source-file_old"]
	path = vim/pack/Shougo/opt/ddu-source-file_old
	url = https://github.com/Shougo/ddu-source-file_old.git
[submodule "vim/pack/matsui54/opt/ddu-source-file_external"]
	path = vim/pack/matsui54/opt/ddu-source-file_external
	url = https://github.com/matsui54/ddu-source-file_external.git
[submodule "vim/pack/Shougo/opt/ddu-source-line"]
	path = vim/pack/Shougo/opt/ddu-source-line
	url = https://github.com/Shougo/ddu-source-line.git
[submodule "vim/pack/Shougo/opt/ddu-source-register"]
	path = vim/pack/Shougo/opt/ddu-source-register
	url = https://github.com/Shougo/ddu-source-register.git
[submodule "vim/pack/shun/opt/ddu-source-rg"]
	path = vim/pack/shun/opt/ddu-source-rg
	url = https://github.com/shun/ddu-source-rg.git
[submodule "vim/pack/Shougo/opt/ddu-kind-word"]
	path = vim/pack/Shougo/opt/ddu-kind-word
	url = https://github.com/Shougo/ddu-kind-word.git
[submodule "vim/pack/Shougo/opt/ddu-source-action"]
	path = vim/pack/Shougo/opt/ddu-source-action
	url = https://github.com/Shougo/ddu-source-action.git
[submodule "vim/pack/matsui54/opt/ddu-source-command_history"]
	path = vim/pack/matsui54/opt/ddu-source-command_history
	url = https://github.com/matsui54/ddu-source-command_history.git
[submodule "vim/pack/Shougo/opt/ddu-filter-matcher_relative"]
	path = vim/pack/Shougo/opt/ddu-filter-matcher_relative
	url = https://github.com/Shougo/ddu-filter-matcher_relative.git
[submodule "vim/pack/Shougo/opt/ddu-filter-matcher_hidden"]
	path = vim/pack/Shougo/opt/ddu-filter-matcher_hidden
	url = https://github.com/Shougo/ddu-filter-matcher_hidden.git
[submodule "vim/pack/Shougo/opt/ddu-filter-sorter_alpha"]
	path = vim/pack/Shougo/opt/ddu-filter-sorter_alpha
	url = https://github.com/Shougo/ddu-filter-sorter_alpha.git
[submodule "vim/pack/Shougo/opt/ddu-filter-converter_display_word"]
	path = vim/pack/Shougo/opt/ddu-filter-converter_display_word
	url = https://github.com/Shougo/ddu-filter-converter_display_word.git
[submodule "vim/pack/mikanIchinose/opt/ddu-source-markdown"]
	path = vim/pack/mikanIchinose/opt/ddu-source-markdown
	url = https://github.com/mikanIchinose/ddu-source-markdown.git
[submodule "vim/pack/Shougo/opt/ddc-ui-inline"]
	path = vim/pack/Shougo/opt/ddc-ui-inline
	url = https://github.com/Shougo/ddc-ui-inline.git
[submodule "vim/pack/Shougo/opt/ddc-ui-none"]
	path = vim/pack/Shougo/opt/ddc-ui-none
	url = https://github.com/Shougo/ddc-ui-none.git
[submodule "vim/pack/Shougo/opt/ddc-source-zsh"]
	path = vim/pack/Shougo/opt/ddc-source-zsh
	url = https://github.com/Shougo/ddc-source-zsh.git
[submodule "vim/pack/Shougo/opt/ddc-source-input"]
	path = vim/pack/Shougo/opt/ddc-source-input
	url = https://github.com/Shougo/ddc-source-input.git
[submodule "vim/pack/Shougo/opt/ddc-source-rg"]
	path = vim/pack/Shougo/opt/ddc-source-rg
	url = https://github.com/Shougo/ddc-source-rg.git
[submodule "vim/pack/Shougo/opt/ddc-source-line"]
	path = vim/pack/Shougo/opt/ddc-source-line
	url = https://github.com/Shougo/ddc-source-line.git
[submodule "vim/pack/Shougo/opt/ddc-source-cmdline"]
	path = vim/pack/Shougo/opt/ddc-source-cmdline
	url = https://github.com/Shougo/ddc-source-cmdline.git
[submodule "vim/pack/Shougo/opt/ddc-source-cmdline-history"]
	path = vim/pack/Shougo/opt/ddc-source-cmdline-history
	url = https://github.com/Shougo/ddc-source-cmdline-history.git
[submodule "vim/pack/Shougo/opt/ddc-source-omni"]
	path = vim/pack/Shougo/opt/ddc-source-omni
	url = https://github.com/Shougo/ddc-source-omni.git
[submodule "vim/pack/Shougo/opt/ddc-matcher_length"]
	path = vim/pack/Shougo/opt/ddc-matcher_length
	url = https://github.com/Shougo/ddc-matcher_length.git
[submodule "vim/pack/Shougo/opt/ddc-converter_remove_overlap"]
	path = vim/pack/Shougo/opt/ddc-converter_remove_overlap
	url = https://github.com/Shougo/ddc-converter_remove_overlap.git
[submodule "vim/pack/Shougo/opt/ddc-converter_truncate_abbr"]
	path = vim/pack/Shougo/opt/ddc-converter_truncate_abbr
	url = https://github.com/Shougo/ddc-converter_truncate_abbr.git
[submodule "vim/pack/Shougo/opt/pum.vim"]
	path = vim/pack/Shougo/opt/pum.vim
	url = https://github.com/Shougo/pum.vim.git
[submodule "vim/pack/LumaKernel/opt/ddc-source-file"]
	path = vim/pack/LumaKernel/opt/ddc-source-file
	url = https://github.com/LumaKernel/ddc-source-file.git
[submodule "vim/pack/Shougo/opt/ddc-ui-pum"]
	path = vim/pack/Shougo/opt/ddc-ui-pum
	url = https://github.com/Shougo/ddc-ui-pum.git
[submodule "vim/pack/matsui54/opt/ddc-buffer"]
	path = vim/pack/matsui54/opt/ddc-buffer
	url = https://github.com/matsui54/ddc-buffer.git
[submodule "vim/pack/Shougo/opt/neco-vim"]
	path = vim/pack/Shougo/opt/neco-vim
	url = https://github.com/Shougo/neco-vim.git
[submodule "vim/pack/Shougo/opt/deol.nvim"]
	path = vim/pack/Shougo/opt/deol.nvim
	url = https://github.com/Shougo/deol.nvim.git
