[submodule "vim/pack/tpope/start/vim-surround"]
	path = vim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/editorconfig/start/editorconfig-vim"]
	path = vim/pack/editorconfig/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/w0rp/start/ale"]
	path = vim/pack/w0rp/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/airblade/start/vim-gitgutter"]
	path = vim/pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/terryma/start/vim-multiple-cursors"]
	path = vim/pack/terryma/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/pack/sheerun/opt/vim-polyglot"]
	path = vim/pack/sheerun/opt/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/trevordmiller/opt/nova-vim"]
	path = vim/pack/trevordmiller/opt/nova-vim
	url = https://github.com/trevordmiller/nova-vim.git
[submodule "vim/pack/tpope/start/vim-eunuch"]
	path = vim/pack/tpope/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/pack/matthn/start/emmet-vim"]
	path = vim/pack/matthn/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/pack/scrooloose/start/nerdtree"]
	path = vim/pack/scrooloose/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/itchyny/start/lightline"]
	path = vim/pack/itchyny/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/junegunn/start/fzf"]
	path = vim/pack/junegunn/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/junegunn/start/fzf.vim"]
	path = vim/pack/junegunn/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/morhetz/opt/gruvbox"]
	path = vim/pack/morhetz/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/joshdick/opt/onedark.vim"]
	path = vim/pack/joshdick/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "vim/pack/chriskempson/opt/base16-vim"]
	path = vim/pack/chriskempson/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/pack/itchyny/start/vim-gitbranch"]
	path = vim/pack/itchyny/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
[submodule "vim/pack/Shougo/opt/deoplete.nvim"]
	path = vim/pack/Shougo/opt/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/pack/ternjs/opt/tern_for_vim"]
	path = vim/pack/ternjs/opt/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "vim/pack/ternjs/start/tern_for_vim"]
	path = vim/pack/ternjs/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "vim/pack/Shougo/start/deoplete.nvim"]
	path = vim/pack/Shougo/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/pack/carlitux/start/deoplete-ternjs"]
	path = vim/pack/carlitux/start/deoplete-ternjs
	url = https://github.com/carlitux/deoplete-ternjs
[submodule "zsh/modules/zsh-users/zsh-completions"]
	path = zsh/modules/zsh-users/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/modules/zsh-users/zsh-syntax-highlighting"]
	path = zsh/modules/zsh-users/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/modules/zsh-users/zsh-history-substring-search"]
	path = zsh/modules/zsh-users/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/modules/zsh-users/zsh-autosuggestions"]
	path = zsh/modules/zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/pack/elixir-editors/start/vim-elixir"]
	path = vim/pack/elixir-editors/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
