"*":
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "language-c"
      "language-csharp"
      "language-clojure"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-sass"
      "language-source"
      "language-xml"
    ]
    projectHome: "/Users/harouna/repositories"
    telemetryConsent: "limited"
  editor:
    atomicSoftTabs: false
    fontFamily: "SF Mono"
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "0602831a-299e-5b96-11c6-326ec89bbb33"
  "file-icons":
    onChanges: true
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "fuzzy-finder":
    searchAllPanes: true
  "git-diff":
    showIconsInEditorGutter: true
  linter: {}
  "linter-eslint": {}
  "linter-ui-default":
    gutterPosition: "Left"
    showProviderName: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    displayMinimapOnLeft: true
    plugins:
      linter: true
      linterDecorationsZIndex: 0
  "minimap-linter": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
